[Desktop Entry]
Name=QElement
Exec=qelement
Terminal=false
Type=Application
Icon=element-desktop
StartupWMClass=qelement
Comment=A feature-rich client for Matrix.org
Categories=Network;InstantMessaging;Chat;
